snippet scul "subsection with underline"
\subsection{$1}
\underline{$1：}
endsnippet	

snippet cb "centerbox"
\centerbox{
  $1
}
endsnippet

snippet uln "underline with newline"
\underline{$1} \\\\
endsnippet
